root {
  --tiger: rgb(248, 194, 58);
  --mountain: rgb(51, 49, 47);
  --mountainTop: rgb(243, 244, 247);
  --newClay: rgb(228, 223, 218);
  --brightWaters: rgb(58, 185, 248);
  --greenGrass: rgb(46, 238, 43);
  --lightHouse: rgb(250, 86, 57);
}

html body {
  background: rgb(243, 244, 247);
  color: rgb(51, 49, 47);
  margin: 0;
}