:root {
  --base: rgb(29, 31, 33);
  --alt: rgb(177, 178, 178);
  --primary: rgb(228, 223, 218);
  --lightblue: rgb(143, 214, 249);
  --blue: rgb(119, 196, 234);
  --lightHouse: rgb(251, 206, 56);
  --lighterHouse: rgb(253, 221, 115);
  --beacon: rgb(132, 203, 114);
  --lightbeacon: rgb(165, 212, 153);
  --violet: rgb(203, 123, 250);
  --lightviolet: rgb(221, 172, 249);
  --red: rgb(238, 43, 43);
  --deepviolet: rgb(53, 39, 60);
}

html body {
  background: var(--base);
  background-color: var(--deepviolet);
  /* background-image: url("./media/DNGF7977.jpeg"); */
  color: var(--primary);
  margin: 0;
}

.navbar {
  background-color: var(--base);
}

.footer {
  background-color: var(--base);
}

.in-footer {
  background-color: var(--base);
}

.navdropdown {
  background-color: var(--base);
}

.welcome {
  margin-top: 2em;
  color: var(--primary);
  font-size: 56px;
}

.homeResources {
  font-size: 46px;
}

.footspace {
  margin-bottom: 10rem;
}

.post {
  background-color: rgb(29, 31, 33);
}

.meherdevs {
  color: var(--alt);
}

.box {
  margin-top: 5em;
}

h3 {
  color: var(--beacon);
}

h5 {
  color: var(--lightblue);
}

h6 {
  color: #ffcd38;
}

.toTop {
  position: fixed;
  right: 30px;
  bottom: 100px;
  z-index: 1;
}

.donate {
  position: fixed;
  right: 10px;
  bottom: 100px;
  z-index: 2;
}

.toTop-button {
  width: 105px;
  height: 45px;
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--base);
  border: none;
  box-shadow: 0 17px 20px rgba(0, 0, 0, 0.65);
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.donate-button {
  width: 115px;
  height: 55px;
  background-color: var(--deepviolet);
  border-radius: 10px;
  color: var(--primary);
  border: none;
  box-shadow: 0 17px 20px rgba(0, 0, 0, 0.65);
  transition: 0.7s;
  z-index: 1;
  margin-right: 20px;
}

.topicBox {
  background-color: var(--base);
  padding: 0.5em;
  border-radius: 10px;
}

.topic-headers {
  color: var(--lightblue);
  font-size: 35px;
  text-decoration: none;
}

.subtopic-headers {
  color: var(--violet);
  text-decoration: none;
}

.box {
  max-width: 1000px;
}

.contact {
  max-width: 600px;
  text-align: center;
  margin-top: 5em;
}

.about {
  margin-top: 1em;
}

.bio {
  max-width: 1000px;
  background-color: rgba(17, 22, 17, 0.226);
  border-radius: 10px;
}

.cardButton:hover {
  color: var(--lightblue);
}

a {
  color: var(--blue);
}

.modal {
  color: var(--primary);
}

.modalForm {
  background-color: rgb(22, 22, 23);
}

.userQLBox {
  background-color: var(--base);
  padding: 1em;
  border-radius: 8px;
  margin: 0.5em;
  max-width: 400px;
}

.mainText {
  font-size: larger;
  color: var(--white);
}

.searchbox {
  border: none;
}

.textBox {
  margin: 0;
}

.search {
  background-color: var(--blue);
  border: none;
}

.logging {
  font-weight: bold;
}

.creator {
  font-weight: bold;
}

.avatar {
  background-image: url("../public/Vector-Multicolor-Flower-Design.jpg");
  background-position: 30%;
}

.bgresource {
  /* background-image: linear-gradient(var(--lighterHouse), var(--lightblue), var(--violet)); */
  background-image: linear-gradient(black, var(--base));
}

img {
  border: none;
}

.link2 {
  color: var(--white);
}

.span {
  color: var(--violet);
}

.one {
  color: #ffcd38;
}

.two {
  color: #33bfff;
}

.three {
  color: #ff9800;
}

.heart {
  color: #f6685e;
}

.search:hover {
  background-color: var(--lightblue);
}

.subtopic-headers:hover {
  color: var(--lightviolet);
}

.logging:hover {
  color: var(--lightblue);
}

button:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.412);
}

.creator:hover {
  color: var(--lightviolet);
}

.topics {
  color: var(--blue);
  min-width: 50px;
  text-align: left;
}

.topics2 {
  color: var(--beacon);
  min-width: 50px;
  text-align: left;
}

.subtopics {
  color: var(--lightviolet);
}

.resources {
  color: var(--lightbeacon);
}

.quicklink {
  color: var(--blue);
}

.quicklinkMe {
  color: #f6685e;
}

.quicklinkMe2 {
  color: #ff9800;
}

.quicklink2 {
  color: var(--beacon);
}

.userLinks {
  margin-top: 1em;
}

.quicklink:hover {
  color: var(--lightblue);
}

.quicklink2:hover {
  color: var(--lightbeacon);
}

.topics:hover {
  color: var(--lightblue);
}

.subtopics:hover {
  color: var(--violet);
}

.resources:hover {
  color: var(--beacon);
}

.topics2:hover {
  color: var(--lightbeacon);
}

.link:hover {
  color: var(--base);
}

.link2:hover {
  color: var(--white);
}

.link3:hover {
  color: var(--violet);
}

a:hover {
  color: var(--lightblue);
}

.meherdevs:hover {
  color: var(--lightblue);
}

.quicklinkMe:hover {
  color: #ffbf5f;
}

.quicklinkMe2:hover {
  color: #f88f88;
}

@media screen and (max-width: 500px) {
  .welcome {
    color: var(--primary);
    font-size: 36px;
    text-align: left;
  }

  .donate-button {
    margin-right: 10px;
    margin-bottom: -10px;
  }
}
