/* :root {
  --mountain: rgb(51, 49, 47);
  --mountainTop: rgb(229, 229, 232);
  --newClay: rgb(228, 223, 218);
  --brightWaters: rgb(110, 188, 227);
  --sea: rgb(124, 181, 167);
  --darkSea: rgb(117, 163, 152);
  --lightHouse: rgb(252, 121, 91);
  --lighterHouse: rgb(246, 135, 110);
  --beacon: rgb(131, 210, 111);
} */

:root {   
  --base: rgb(36, 44, 49); 
  --alt: rgb(177, 178, 178);
  --primary: rgb(228, 223, 218);
  --lightblue: rgb(122, 205, 247);
  --blue: rgb(89, 146, 174);
  --lightHouse: rgb(252, 121, 91);
  --lighterHouse: rgb(246, 135, 110);
  --beacon: rgb(124, 197, 106);
  --violet: rgb(213, 149, 251);
}

html body {
  background: var(--base);
  background-image: url("./media/DNGF7977.jpeg");
  background-position: 50% fixed;
  color: var(--primary);
  margin: 0;
}

.navdropdown {
  background-color: var(--base);
}

.welcome {
  color: var(--beacon);
}

h5 {
  color: var(--lighterHouse);
}

.topic-headers {
  color: var(--lighterHouse);
}

.subtopic-headers {
  color: var(--violet);
}

.box {
  max-width: 1000px;
}

.mainText {
  font-size: larger;
  color: var(--white);
}

.searchbox {
  border: none;
}

.textBox {
margin: 0;
}
.search {
  background-color: var(--blue);
  border: none;
}

.logging {
font-weight: bold;

}
.avatar {
  background-image: url("../public/Vector-Multicolor-Flower-Design.jpg");
  background-position: 30%;
}

.bgresource {
/* background-image: linear-gradient(var(--lighterHouse), var(--lightblue), var(--violet)); */
background-image: linear-gradient(black, var(--base));

}

img {
  border: none;
}

.link2 {
  color: var(--white);
}

.span {
  color: var(--violet);
}

.search:hover {
  background-color:var(--lightblue);
}

.logging:hover {
  color: var(--lightblue);
}

.link:hover {
  color: var(--base);
}

.link2:hover {
  color: var(--white);
}

.link3:hover {
  color: var(--violet);
}